/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #cd378c; /* medium plum */
    color: #fff; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #2E959F; /* medium turquoise */
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */
header, footer {
  background: #85275C; /* purple plum color */
  color: #fff; /* color of text */

}

aside {
  background: #D2529A; /* medium plum */
  color: #fff /*color of text */
}

figure {
  background: #551638; /* yellow */
  color: #000; /* need darker color */
}


/* --- add your PSEUDO CLASSES below this line --- */
a:link { color: #c7c7c7; } /* medium blue */
a:visited { color:#9e9e9e; } /* blue gray */
a:focus { color:#b3beea; } /* medium light colors */
a:hover { color:#A7B1D9; } /*light blue */
a:active { color: #9aa4d0; } /*dark blue */
footer a:link { color: #dfecec; } /* royal blue */
footer a:visited { color: #c6ffff; } /* light blue */
footer a:focus { color: #f4ebe6; } /* medium tan */
footer a:hover { color: #e9d1c8; } /* violet blue */
footer a:active { color: #8ed2ca; } /* blue */
